.content {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 45%;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  height: 380px;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  background-color: rgb(254, 255, 254);
}

.content:hover {
  background-color: rgb(119, 246, 255);
}

.content__column:first-child {
  margin-right: 30px;
}

.content__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 380px;
  height: 100%;
}

.content__column:first-child img {
  border-radius: 10px;
}

.content__column__title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.content__column__title__link {
  color: black;
  text-decoration: none;
}
.content__column__summary {
  padding: 20px;
  background-color: rgb(42, 44, 63);
  color: white;
  border-radius: 15px;
  width: 350px;
  height: 100px;
  overflow-y: scroll;
}

.content__column__genres {
  display: flex;
  flex-wrap: wrap;
}

.content__column__g {
  padding: 10px;
  background-color: rgb(42, 44, 63);
  color: white;
  border-radius: 10px;
  margin: 10px 10px;
}
