.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: rgb(42, 44, 63);
  position: relative;
  padding-top: 120px;
}

.title {
  position: fixed;
  top: 0;
  font-weight: bold;
  padding: 20px;
  font-size: 80px;
  width: 100%;
  text-align: center;
  background-color: rgb(42, 44, 63);
  color: rgb(119, 246, 255);
}
